<div class="container-fluid text-center">
  <h1>Edit an article:</h1><br>

  <form class="form-horizontal" role="form" action="/articles/edit" method="post">
    <div class="form-group">
      <label for="category" class="col-sm-3 control-label">Category</label>
      <div class="col-sm-6">
        <select name="category" class="form-control" id="category">
          <% @display.each do |category| %>
          <option value="<%=category.id%>"><%=category.name%></option>
          <% end %>
        </select>
      </div>
    </div>
    <input type="hidden" name="id" value="<%=@article.id%>">
    <div class="form-group">
      <label for="title" class="col-sm-3 control-label">Title</label>
      <div class="col-sm-6">
        <input type="text" name="title" value="<%=@article.title%>" class="form-control" id="title">
      </div>
    </div>
    <div class="form-group">
      <label for="content" class="col-sm-3 control-label">Content</label>
      <div class="col-sm-6">
         <input type="text" name="content" value="<%=@article.content%>" class="form-control" id="content">
      </div>
    </div>
    <div class="form-group">
      <label for="price" class="col-sm-3 control-label">Price</label>
      <div class="col-sm-6">
         <input type="text" name="price" value="<%=@article.price%>" class="form-control" id="price">
      </div>
    </div>
    <div class="form-group">
      <label for="author" class="col-sm-3 control-label">Author</label>
      <div class="col-sm-6">
         <input type="text" name="author" value="<%=@article.author%>" class="form-control" id="author">
      </div>
    </div>
    <div class="form-group">
      <label for="image" class="col-sm-3 control-label">Image URL</label>
      <div class="col-sm-6">
         <input type="text" name="image" value="<%=@article.image%>" class="form-control" id="image">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-warning">Edit</button>
        <button type="reset" class="btn btn-default" value="Reset">Reset</button>
      </div>
    </div>
    <input type="hidden" name="_method" value="put">
  </form>

</div>
