<div class="jumbotron text-center">
  <div class="container-fluid">
    <img src="<%= @article.image %>" style="border:3px solid black">
    <h1><%= @article.title %></h1>
    <h3>Price: $<%= @article.price %> <small> Author: <%= @article.author %> </small></h3>
    <p><%= @article.content %></p><br>
    <a class="btn btn-warning btn-lg" href="/articles/<%= @article.id %>/edit" role="button">Edit</a>
  </div>
</div>
